.game {
    width: 100vw;
    height: 100vh;
    &__bg {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &-change {
            width: 200px;
            height: 50px;
            font-size: 20px;
            color: $white;
            background: transparent;
            border: 1px solid $white;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 10px;
            @include transition(0.3, ease);
            &:hover {
                background: $white;
                color: $black;  
            }
        }
    }
    &__container {
        width: 800px;
        padding-bottom: 50px;
        position: relative;
    }
    &__question {
        font-size: 32px;
        color: $white;
        text-align: center;
        margin: 20px 0;
    }
    &__message {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: $white;
    }
}